<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>400 Page bad request</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic}"/>
</head>
<body class="hold-transition login-page">
  <section class="content-header"> 
      <h1>
        400 Bad Request
      </h1>
    </section>
    <section class="content">
      <div class="error-page">
        <h3 class="headline text-yellow">400</h3>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i>Oops! Page bad request.</h3>
          <p> 
            Some field is empty.
            <a th:href="@{/home}">return home page.</a>
          </p>
        </div>
      </div>
    </section>
</body>
</html>
